{:paths ["bb"]
 :tasks
 {hello
  {:doc "Print hello world or name"
   :task (if *command-line-args*
           (apply println "Hello," *command-line-args*)
           (println "Hello, world!"))}

  bye
  {:doc "Goodbye world!"
   :task (println "Goodbye, world!")}}}
