{:paths ["bb"]
 :tasks
 {hello
  {:doc "Print hello world"
   :task (println "Hello, world!")}

  y (println "This one too")

  z (println "I need this one to test sorting")

  bye
  {:doc "Goodbye world!"
   :task (println "Goodbye, world!")}}}
